'menu': [
  {
    'label': 'View'
    'submenu': [
      'label': 'Toggle Treeview'
      'command': 'tree-view:toggle'
    ]
  }
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Tree View'
      'submenu': [
        { 'label': 'Focus', 'command': 'tree-view:toggle-focus' }
        { 'label': 'Toggle', 'command': 'tree-view:toggle' }
        { 'label': 'Reveal Active File', 'command': 'tree-view:reveal-active-file' }
      ]
    ]
  }
]

'context-menu':
  '.tree-view':
    'Add File': 'tree-view:add'
    'Add Folder': 'tree-view:add'
    'Rename': 'tree-view:move'
    'Delete': 'tree-view:remove'
