'menu': [
  {
    'label': 'View'
    'submenu': [
      { 'label': 'Toggle Tree View', 'command': 'tree-view:toggle' },
      { 'label': 'Toggle Tree Side', 'command': 'tree-view:toggle-side' }
    ]
  }
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Tree View'
      'submenu': [
        { 'label': 'Focus', 'command': 'tree-view:toggle-focus' }
        { 'label': 'Toggle', 'command': 'tree-view:toggle' }
        { 'label': 'Reveal Active File', 'command': 'tree-view:reveal-active-file' },
        { 'label': 'Toggle Tree Side', 'command': 'tree-view:toggle-side' }
      ]
    ]
  }
]

'context-menu':
  '.tree-view':
    'Add File': 'tree-view:add'
    'Add Folder': 'tree-view:add'
    'Rename': 'tree-view:move'
    'Delete': 'tree-view:remove'
    'Copy Full Path': 'tree-view:copy-full-path'
    'Copy Project Path': 'tree-view:copy-project-path'
    'Show in Finder': 'tree-view:show-in-file-manager'

  '.pane .item-views':
    'Reveal in Tree View': 'tree-view:reveal-active-file'
