'.platform-darwin':
  'cmd-\\': 'tree-view:toggle'
  'cmd-k cmd-b': 'tree-view:toggle'
  'cmd-|': 'tree-view:reveal-active-file'
  'ctrl-0': 'tree-view:toggle-focus'

'.platform-win32, .platform-linux':
  'ctrl-\\': 'tree-view:toggle'
  'ctrl-k ctrl-b': 'tree-view:toggle'
  'ctrl-|': 'tree-view:reveal-active-file'
  'ctrl-0': 'tree-view:toggle-focus'

'.platform-darwin .tree-view':
  'cmd-c': 'tree-view:copy'
  'cmd-x': 'tree-view:cut'
  'cmd-v': 'tree-view:paste'

'.platform-win32 .tree-view, .platform-linux .tree-view':
  'ctrl-c': 'tree-view:copy'
  'ctrl-x': 'tree-view:cut'
  'ctrl-v': 'tree-view:paste'

'.tree-view':
  'right': 'tree-view:expand-directory'
  'ctrl-]': 'tree-view:expand-directory'
  'l': 'tree-view:expand-directory'
  'ctrl-f': 'tree-view:expand-directory'
  'left': 'tree-view:collapse-directory'
  'ctrl-[': 'tree-view:collapse-directory'
  'h': 'tree-view:collapse-directory'
  'ctrl-b': 'tree-view:collapse-directory'
  'enter': 'tree-view:open-selected-entry'
  'ctrl-C': 'tree-view:copy-full-path'
  'm': 'tree-view:move'
  'f2': 'tree-view:move'
  'a': 'tree-view:add-file'
  'shift-a': 'tree-view:add-folder'
  'd': 'tree-view:duplicate'
  'delete': 'tree-view:remove'
  'backspace': 'tree-view:remove'
  'k': 'core:move-up'
  'j': 'core:move-down'

'.tree-view-dialog .mini.editor':
  'enter': 'core:confirm'
  'escape': 'core:cancel'
