[
    'label': 'File'
    'submenu': [
      {'label': 'New File', command: 'tree-view:add-file'}
      {'label': 'Save', 'command': 'learn-ide:save'}
      {'label': 'Save As…', 'command': 'learn-ide:save-as'}
      {'label': 'Open…', 'command': 'learn-ide:file-open'}
      {'label': 'Add Project Folder…', 'command': 'learn-ide:add-project'}
      {'label': 'Save All', 'command': 'learn-ide:save-all'}
    ]
]
