'body.learn-ide.platform-darwin':
  'cmd-s': 'learn-ide:save'
  'cmd-S': 'learn-ide:save-as'
  'cmd-n': 'tree-view:add-file'
  'cmd-o': 'learn-ide:file-open'
  'cmd-O': 'learn-ide:add-project'
  'cmd-alt-s': 'learn-ide:save-all'
'body.learn-ide.platform-win32':
  'ctrl-s': 'learn-ide:save'
  'ctrl-S': 'learn-ide:save-as'
  'ctrl-n': 'tree-view:add-file'
  'ctrl-o': 'learn-ide:file-open'
  'ctrl-alt-o': 'learn-ide:add-project'
'body.learn-ide.platform-linux':
  'ctrl-s': 'learn-ide:save'
  'ctrl-S': 'learn-ide:save-as'
  'ctrl-n': 'tree-view:add-file'
  'ctrl-o': 'learn-ide:file-open'
  'ctrl-alt-o': 'learn-ide:add-project'

