@import "ui-variables";

.tree-view-resizer {
  position: relative;
  height: 100%;
  overflow: hidden;
  cursor: default;
  -webkit-user-select: none;
  min-width: 100px;
  width: 200px;
  z-index: 2;

  .tree-view-resize-handle {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    cursor: col-resize;
    z-index: 3;
  }

  &[data-show-on-right-side='true'] {
    .tree-view-resize-handle {
      left: -5px;
    }
  }

  &[data-show-on-right-side='false'] {
    .tree-view-resize-handle {
      right: -5px;
    }
  }
}

.tree-view-scroller {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.tree-view {
  min-width: -webkit-min-content;
  min-height: 100%;
  padding-left: @component-icon-padding;
  padding-right: @component-padding;
  position: relative;
}
